# Force HTTPS Redirection for Zubiks Services
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Header security
Header set X-Content-Type-Options "nosniff"
Header set X-Frame-Options "SAMEORIGIN"
